<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Paginas/compilar/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Paginas/compilar/index.html [L]
</IfModule>
